<div class="tasks-container">
  <h2>Mis Tareas</h2>
  <div class="form-container">
    <input
      class="inputTask"
      [(ngModel)]="text"
      type="text"
      placeholder="Escriba una tarea..."
    />
    <button
      mat-stroked-button
      class="addButton"
      type="button"
      (click)="addTask()"
    >
      Agregar
    </button>
  </div>
  <div class="taskList">
    <div
      class="task"
      *ngFor="let task of taskList; let i = index"
      [ngClass]="task.state === true ? 'task-Completed' : ''"
      (click)="completeTask(task)"
    >
      <div class="text-task">
        {{ task.text }}
      </div>
      <button
        mat-stroked-button
        class="deleteButton"
        type="button"
        (click)="deleteTask(i)"
      >
        X
      </button>
    </div>
  </div>
</div>
