<div class="tasks-container">
  <div class="">
    <input [(ngModel)]="text" type="text" placeholder="Escriba una tarea..." />
    <button type="button" (click)="addTask()">Agregar</button>
  </div>
  <div>
    <ul>
      <li
        *ngFor="let task of taskList; let i = index"
        [ngClass]="task.state === true ? 'task-Completed' : ''"
        (click)="completeTask(task)"
      >
        <span>
          {{ task.text }}
        </span>
        <button type="button" (click)="deleteTask(i)">Eliminar</button>
      </li>
    </ul>
  </div>
</div>
