<div class="tasks-container">
  <div class="form-container">
    <input
      class="inputTask"
      [(ngModel)]="text"
      type="text"
      placeholder="Escriba una tarea..."
    />
    <button
      mat-stroked-button
      class="addButton"
      type="button"
      (click)="addTask()"
    >
      Agregar
    </button>
  </div>
  <mat-list class="ulTasks">
    <mat-list-item
      class="task"
      *ngFor="let task of taskList; let i = index"
      [ngClass]="task.state === true ? 'task-Completed' : ''"
      (click)="completeTask(task)"
    >
      <button
        mat-stroked-button
        class="deleteButton"
        type="button"
        (click)="deleteTask(i)"
      >
        Eliminar
      </button>
      <span class="text-task">{{ task.text }}</span>
    </mat-list-item>
  </mat-list>
</div>
