.tasks-container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  background-color: aqua;
  min-height: 500px;
  flex-wrap: wrap;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: aquamarine;
  height: 50px;
  width: 100%;
}
.inputTask {
  width: 70%;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
}
.addButton {
  width: 30%;
  height: 100%;
}
.tasksList {
  display: flex;
  justify-content: center;

  /* width: 100%; */
}
.task {
  /* text-align: center; */
  width: 100%;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  align-items: center;
  border-radius: 7px;
  border: 1px solid white;
}
.task:hover {
  cursor: pointer;
}
.text-task {
  margin-left: 15px;
}
.task-Completed {
  background-color: brown;
  text-decoration: line-through;
}

.deleteButton {
}
